# This is Git's per-user configuration file.
[user]
name = Nicholas Clucas
email = nclucas01@gmail.com
[core]
excludesfile = /Users/nickclucas/.gitignore_global
[filter "lfs"]
  clean = git lfs clean %f
  smudge = git lfs smudge %f
  required = true
[alias]
  c = checkout
  cm = commit
  a = add
  f = fetch
  ae = add -u #adds all modified, does not add new files
  all = add . #adds all modified files
  s = status -sb #short status
  u = reset HEAD -- #unstages a file or directory from a commit after it has been added
  unch = update-index --assume-unchanged #mark file unchanged locally
  amd = commit --amend #allows you to edit commit message for previous commit
  undo = checkout -- #undo changes to a file
  undoall = reset --hard HEAD #undoes changes to all files
  clearall = "!f() { git clean -fd; git reset --hard; }; f" #undoes all changes and removes all added files, resets to most recent commit
  patch = add --patch #adds modifications to files in groups
  dw = diff --word-diff --ignore-space-change #in-line git diff
  b = branch
  bd = "!git-bd" #removes local branches that have already been merged into master #NOTE git-bd file needs to exist in the PATH
  rb = "!f() { git rebase -i HEAD~$1; }; f" #interactive git rebase for the previous X commits
  sq = "!f() { git reset --soft HEAD~$1 && git commit; }; f" #should automatically squash the last N commits into a single one with new commit message
  ss = "!f() { git stash save ${@:1}; }; f" #stashes changes with a saved message, message does not have to be put into quotes
  ssa = "!f() { git stash save -u ${@:1}; }; f" #stashes everything with a message, message does not have to be put into quotes
  sl = stash list #lists stashes
  sp = stash pop #pops top stash and applies
  l = log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit #nice git log with graph
  lf = "!f() { git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --follow $1; }; f"
  lfc = "!f() { git diff-tree --no-commit-id --name-only -r $1; }; f"
  dc = "!f() { git diff-tree --no-commit-id --name-only -r $1; }; f" #shows files modified in given commit
  dwc = "!f() { git diff --word-diff --no-commit-id --ignore-space-change -r $1^ $1; }; f" # shows the line by line changes made by a single commit
  pr = "!f() { git dw $1...HEAD; }; f" #makes PR-like diff on local
  fls = "!f() { git log --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(blue)<%an>%Creset' --abbrev-commit --all --full-history -- $1; }; f" #searches code base for a file as a given path, can include deleted files
  blm = blame -c -w --date=short
  cp = cherry-pick
[difftool "diffmerge"]
  cmd = diffmerge \"$LOCAL\" \"$REMOTE\"]
[mergetool "diffmerge"]
  cmd = "diffmerge --merge --result=\"$MERGED\" \"$LOCAL\" \"$(if test -f \"$BASE\"; then echo \"$BASE\"; else echo \"$LOCAL\"; fi)\" \"$REMOTE\""
  trustExitCode = true
[diff]
  tool = diffmerge
  compactionHeuristic = true
[merge]
  tool = diffmerge
  conflictstyle = diff3
[mergetool]
  keepBackup = false
  prompt = false
[push]
  default = current
[core]
editor = vim
[diff "ansible-vault"]
  textconv = ansible-vault view
[branch]
  autosetuprebase = always

[init]
	defaultBranch = main
